#Sphinx output
sphinx/build

#Test output
test_output.eps
test_output.png

#Test output from rst2html
README.html

#Build files
build
dist
distribute-*.egg
distribute-*.tar.gz
*.egg-info
*.egg
.eggs/
setuptools-*.zip
setuptools-*.tar.gz

#Vim swap files.
.*.sw[mnop]

#Scons database
.sconsign.dblite

#exuberant tags files
tags

#Vim session files
Session.vim

#Compiled python files.
*.pyc
*.pyd
*.pyo

#Backup files
~*
*~
*.orig
*.backup
*.bup
*.bak


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
